In [12]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

# Explore & Visualize the data

## Loading the training set

In [2]:
import os

import logging
logger = logging.getLogger()
logging.basicConfig(
    level=logging.INFO,
    format='%(levelname)s:%(message)s'
)

In [3]:
from titanic2 import TitanicETL

class TitanicETL:
    '''This is the ETL class I'll use for the rest of this project.
    It will be used to load the data and make necessary transformations.
    '''
    def __init__(self, location=''):
        if not location:
            logger.fatal('Please specify a file.')
            return None
        try:
            self.location = os.path.abspath(location)
        except:
            logger.exception('Could not load file.')
        return
    
    def _load_from_file(self):
        '''Loads data from a csv file and sets
        the index to PassengerId.'''
        df = pd.read_csv(self.location)
        return df.set_index('PassengerId')
    
    def _add_has_cabin(self, df):
        '''Adds a boolean column corresponding
        to a passenger having/not a cabin.'''
        df['HasCabin'] = df['Cabin'].notna()
        return df
    
    def _get_cabin_letters(self, df):
        '''Takes the first letter of a passenger's cabin
        and creates a one-hot encoded matrix out of it.
        This gets left joined to the data.'''
        def get_letter(x):
            try:
                if x:
                    return 'C' + x[:1]
            except TypeError:
                logger.debug('float not subscriptable')
            except:
                logger.exception('Failed.')
            return 'C0'

        s = df['Cabin'].apply(get_letter)
        t = pd.get_dummies(s)
        return df.join(t)
    
    def _get_embarked_letters(self, df):
        '''Creates a one-hot encoded matriks out of the
        letter in the Embarked column. This gets left
        joined to the data.'''
        s = pd.get_dummies(df['Embarked'])
        return df.join(s)
    
    def _get_sex_values(self, df):
        '''Creates a 1/0 value out of the passenger's sex.'''
        t = df['Sex'].astype('category')
        df['NSex'] = t.values.codes
        return df
    
    def _drop_columns(self, df):
        '''We don't need these anymore.'''
        df = df.drop('Age', axis=1)
        df = df.drop('Unnamed: 0', axis=1)
        df = df.drop('Sex', axis=1)
        df = df.drop('Embarked', axis=1)
        df = df.drop('Cabin', axis=1)
        df = df.drop('Name', axis=1)
        df = df.drop('Ticket', axis=1)
        return df
    
    def get(self):
        '''Takes all the transformations and puts
        them in a neat pipeline.'''
        return (
            self._load_from_file()
            .pipe(self._add_has_cabin)
            .pipe(self._get_cabin_letters)
            .pipe(self._get_embarked_letters)
            .pipe(self._get_sex_values)
            .pipe(self._drop_columns)
        )

# Study attributes and their characteristics

- dtypes
- NaNs
- Distributions
- etc.

## Potentially useful features

- has cabin
- in cabin shared by X passengers
- One-hot by cabin letter

In [4]:
data = TitanicETL('data/copy_custom_train.csv')

In [5]:
df = data.get()

# Describe

In [13]:
df.describe(include='all')

,Survived,Pclass,Fare,HasCabin,C0,CA,CB,CC,CD,CE,CF,CG,C,Q,S,NSex
count,713.000000,713.000000,713.000000,713,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000
unique,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.389902,2.300140,33.813054,NaN,0.768583,0.019635,0.056101,0.064516,0.036466,0.035063,0.014025,0.005610,0.197756,0.088359,0.712482,0.638149
std,0.488070,0.841155,53.941465,NaN,0.422034,0.138841,0.230278,0.245843,0.187577,0.184068,0.117677,0.074743,0.398587,0.284016,0.452923,0.480873
min,0.000000,1.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,7.895800,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,14.500000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,1.000000,3.000000,30.695800,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,3.000000,512.329200,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Exploration

## Embarked

We've got a null. If we decide to use Embarked in the ML we'll get rid of this one. Otherwise we keep her.

df[df['Embarked'].isnull()]

Let's turn this into a one hot and get rid of the original column.

s = pd.get_dummies(df['Embarked'])
t = df.join(s)
t.head(1)

## Age

Let's get rid of it? There are too many `NaNs`.

## Cabins

Is there a correlation with price?

Let's turn this into a boolean column as well as a one hot encoded matrix. Ok, done.

cabins = df['Cabin'].unique()[1:]
cabins.sort()

cabins[::3]

## Sex

We'll have to turn the `male`/`female` values into ones and zeroes. In this case Male=1, Female=0.

t = df['Sex'].astype('category')
df['NSex'] = t.values.codes

## Name, Ticket, SibSp and Parch

These are too unique to really tell me anything. I'm going to drop them.

# Visualize the data

[Scatter Matrix](https://github.com/pandas-dev/pandas/blob/2fdf1e256e5e0b7f1fe909629e2f0b7893c8c7c3/pandas/plotting/_misc.py#L17)

In [7]:
from pandas.plotting import scatter_matrix

%time fig = scatter_matrix(df, figsize=(30,20))

In [11]:
fig = plt.figure(figsize=(30,20))
ax = fig.add_axes([1,1,1,1])
plt.plot([1,2])

%time scatter_matrix(df, ax=ax)

plt.savefig('test.png')

/home/emilio/anaconda3/envs/ml1/lib/python3.6/site-packages/IPython/core/magics/execution.py:1207: UserWarning: To output multiple subplots, the figure containing the passed axes is being cleared
  out = eval(code, glob, local_ns)

CPU times: user 8.62 s, sys: 48 ms, total: 8.67 s
Wall time: 8.67 s

# Appendix A: Stuff I've learned here

1. In addition to `DataFrame.isnull()` we also have `notna()` which returns the inverse.
1. To use a column as the index use `DataFrame.set_index('Column')`.
1. Scikit-Learn has a `OneHotEncoder()` but Pandas has `pd.get_dummies(data)`.

# Appendix B: Annotations

**Cabin letters** have been turned into a one hot encoded matrix where `C0` means the passenger did not have a cabin. `CX` then means the passenger was in a cabin starting with the letter `X`.

**Embarked letters** have been turned into a one hot encoded matrix. Port of Embarkation: C = Cherbourg, Q = Queenstown, S = Southampton.

# Appendix C: Available columns

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 713 entries, 1 to 891
Data columns (total 16 columns):
Survived    713 non-null int64
Pclass      713 non-null int64
Fare        713 non-null float64
HasCabin    713 non-null bool
C0          713 non-null uint8
CA          713 non-null uint8
CB          713 non-null uint8
CC          713 non-null uint8
CD          713 non-null uint8
CE          713 non-null uint8
CF          713 non-null uint8
CG          713 non-null uint8
C           713 non-null uint8
Q           713 non-null uint8
S           713 non-null uint8
NSex        713 non-null int8
dtypes: bool(1), float64(1), int64(2), int8(1), uint8(11)
memory usage: 51.3 KB

In [10]:
df.head()

,Survived,Pclass,Fare,HasCabin,C0,CA,CB,CC,CD,CE,CF,CG,C,Q,S,NSex
PassengerId,,,,,,,,,,,,,,,,
1,0,3,7.2500,False,1,0,0,0,0,0,0,0,0,0,1,1
3,1,3,7.9250,False,1,0,0,0,0,0,0,0,0,0,1,0
4,1,1,53.1000,True,0,0,0,1,0,0,0,0,0,0,1,0
5,0,3,8.0500,False,1,0,0,0,0,0,0,0,0,0,1,1
6,0,3,8.4583,False,1,0,0,0,0,0,0,0,0,1,0,1